rule colorIt {
	color: %1;
	background-color: white;
}
rule hardAlign {
	text-align: left;
	float: left;
	padding-left: 0;
	margin-left: 0;
}

#test {
	colorIt: green;
	color: #AEAEAE;
}

.hello {
	hardAlign: null;
}

.clear { clear: both: float: normal; }
